body {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-style: normal;
    color: #0B132A;
    margin-top: 15px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

a {
    color: #DDE0E4;
}

a:hover {
    color: #30343d;
    font-weight: bold;
}

footer {
    background: #F8F8F8;
}

copyright {
    color: #AFB5C0;
    text-align: center;
}

nav .main-logo{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.bold {
    font-weight: 700;
}

.border-btn {
    border: #F53855 1px solid ;
    color:#F53855;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: 700;
    width: 150px;
}

.border-btn:hover {
    background: #F53838;
    color:white;
}

button:hover {
    color: gray;
}

.cube-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    color:white;
    box-shadow: 0px 37px 40px -14px #F5383850;
}

.cube-btn:hover {
    color: #ff0000;
    background-color: white;
    border: #F53855 1px solid ;
}

